:root {
    --color-bg-inline-code: hsl(224, 20%, 94%);
    --markmap-bg: hsla(224, 20%, 94%, 0.25);
    --markmap-border: hsl(224, 20%, 94%);
}

.hb-sidebar-container {
    display: none;
}

.prose{
    font-size: 1.0em;
    line-height: 1.5;
    max-width: 100%;
}

.prose :where(h4) {
    font-size: 1.2em;
}

.prose :where(h5) {
    font-size: 1em;
    font-weight: 600;
}

.prose :where(code):not(:where([class~=not-prose],[class~=not-prose] *)):before {
    content: "";
}

.prose :where(code):not(:where([class~=not-prose],[class~=not-prose] *)):after {
    content: "";
}

div.markmap {
    background: var( --markmap-bg) ;
    border: 1px solid var(--markmap-border);
}

.prose :where(code) {
    font-family: ui-monospace,SFMono-Regular,Menlo,Monaco,Consolas,Liberation Mono,Courier New,monospace;
    font-weight: unset;
    background-color: var(--color-bg-inline-code);
    color: unset;
    padding: .125rem .375rem;
}

main > div:nth-child(3){
    margin-top: 0.8rem;
    margin-bottom: 1.5rem;
}